<img src="pandas_logo.svg" alt="NumPy Logo" style="width:250px; height:100px;">
<h1>Pandas Library:</h1>
<ul>
    <li>Pandas is a Python library used for working with data sets.</li>
    <li>It has functions for analyzing , cleaning, exploring and manipulating data.</li>
    <li>It was created by Wes McKinney in 2008.</li>
    <li>Pandas can clean messey data sets, and make them readable and relevant.</li>
    <li>Pandas has 3 powerful data structures which makes them high performance and powerful data analysis tool. They are:</li>
</ul>
<ol>
    <li>Series(One Dimensional)</li>
    <li>DataFrame(Two Dimensional)</li>
    <li>Panel(Multi-dimensional)</li>
</ol>

<h3>Pandas Series:</h3>
<ul>
    <li>A pandas series is like a column in a table.</li>
    <li>It's a one-dimensional array holding any type of data where as in Numpy array it can hold only one type of data.</li>
</ul>

In [232]:
# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<h4>Different ways of creating Series in pandas:</h4>

In [235]:
# Creating an empty Series
s1 = pd.Series()
s1

Series([], dtype: object)

In [237]:
# Passing a list
s2 = pd.Series([10, 20, 30, 40, 50])
s2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [239]:
# Passing a list in a variable
my_list = [10,20,30,40,50]
s3 = pd.Series(my_list)
print(s3[0])
s3

10

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [140]:
# Specifying index labels
s4 = pd.Series([10, 20, 30, 40, 50], index = ["v","w","x","Y","z"], dtype = float)
print(s4["v"])
s4

10.0

v    10.0
w    20.0
x    30.0
Y    40.0
z    50.0
dtype: float64

In [142]:
# Passing list of lists
s5 = pd.Series([[10, 20], [30, 40], [50, 60]])
print(s5)
# Passing list of tuples
s6 = pd.Series([(10, 20),(30, 40),(50, 60)])
print(s6)
# Passing list sets
s7 = pd.Series([{10, 20}, {30, 40}, {50, 60}])
print(s7)
# Passing tuple of tuples
s8 = pd.Series(((10, 20), (30, 40), (50, 60)))
print(s8)

0    [10, 20]
1    [30, 40]
2    [50, 60]
dtype: object
0    (10, 20)
1    (30, 40)
2    (50, 60)
dtype: object
0    {10, 20}
1    {40, 30}
2    {50, 60}
dtype: object
0    (10, 20)
1    (30, 40)
2    (50, 60)
dtype: object

In [144]:
# Passing an array
my_array = np.array([10, 20, 30, 40, 50])
s9 = pd.Series(my_array)
s9

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [146]:
# Passing a dictionary
s10 = pd.Series({10:20, 30:40, 50:60}) # keys as index labels; values as values in the column
print(s10)

10    20
30    40
50    60
dtype: int64

In [148]:
# Specifying the only items using index keyword argument
s11 = pd.Series({10:20, 30:40, 50:60}, index = [10, 30])
print(s11)

10    20
30    40
dtype: int64

In [150]:
# We can also pass the Series in to a Series
s12 = pd.Series(s11)
print(s12)

10    20
30    40
dtype: int64

<h4>Attributes of Series:</h4>

In [153]:
my_list = [10, 20, 30, 40, 50]

# We can name the Series using name keyword argument
my_series = pd.Series(my_list, name = "List of Series")
my_series

0    10
1    20
2    30
3    40
4    50
Name: List of Series, dtype: int64

In [155]:
# We can access the name using name attribute
my_series.name

'List of Series'

In [157]:
# Returns Series as an array
my_series.array

<NumpyExtensionArray>
[10, 20, 30, 40, 50]
Length: 5, dtype: int64

In [159]:
# Returns the values
my_series.values

array([10, 20, 30, 40, 50], dtype=int64)

In [161]:
# Returns the indices
my_series.index

RangeIndex(start=0, stop=5, step=1)

In [163]:
# Specifying the index labels
my_series = pd.Series([10, 20, 30, 40, 50], index = ["v", "w", "x", "Y", "z"], dtype = float)
my_series

v    10.0
w    20.0
x    30.0
Y    40.0
z    50.0
dtype: float64

In [165]:
# Now it returns the index labels
my_series.index

Index(['v', 'w', 'x', 'Y', 'z'], dtype='object')

In [167]:
# Returns the dimension
my_series.ndim

1

In [169]:
# Returns the data type of values stored in the Series
my_series.dtype

dtype('float64')

In [171]:
# Returns the data type of a variable
type(my_series)

pandas.core.series.Series

In [173]:
# Returns the shape of the Series
my_series.shape

(5,)

In [175]:
# Returns the memory usage of values
my_series.nbytes

40

In [177]:
# Returns the memory usage of indices and values
my_series.memory_usage()

252

In [179]:
# Now it returns only values
my_series.memory_usage(index = False)

40

In [181]:
# Returns the size(no. of elements present in the Series) of the Series
my_series.size

5

In [183]:
# Returns the length(no. of elements present in the Series) of the Series
len(my_series)

5

In [185]:
# Returns True if the Series is empty
my_series.empty

False

<h4>Mathematical Operations on Series:</h4>

In [188]:
my_series1 = pd.Series([10, 20, 30, 40, 50])
my_series2 = pd.Series([11, 22, 33, 44, 55])
print(my_series1)
print(my_series2)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0    11
1    22
2    33
3    44
4    55
dtype: int64

In [190]:
# Addition
my_series1.add(my_series2)

0     21
1     42
2     63
3     84
4    105
dtype: int64

In [192]:
my_series1 + my_series2

0     21
1     42
2     63
3     84
4    105
dtype: int64

In [194]:
# Subtraction
my_series1.subtract(my_series2)

0   -1
1   -2
2   -3
3   -4
4   -5
dtype: int64

In [196]:
my_series1 - my_series2

0   -1
1   -2
2   -3
3   -4
4   -5
dtype: int64

In [198]:
# Multiplication
my_series1.multiply(my_series2)

0     110
1     440
2     990
3    1760
4    2750
dtype: int64

In [200]:
my_series1 * my_series2

0     110
1     440
2     990
3    1760
4    2750
dtype: int64

In [202]:
# Division(returns the quotient)
my_series1.divide(my_series2)

0    0.909091
1    0.909091
2    0.909091
3    0.909091
4    0.909091
dtype: float64

In [204]:
my_series1 / my_series2

0    0.909091
1    0.909091
2    0.909091
3    0.909091
4    0.909091
dtype: float64

In [206]:
# Modulus(returns a remainder)
my_series1.mod(my_series2)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [208]:
my_series1 % my_series2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [210]:
# Exponentiation
my_series1.pow(my_series2)

0           100000000000
1    7974907369840705536
2   -4182185861443485696
3                      0
4    3783023686991216640
dtype: int64

In [212]:
my_series1 ** my_series2

0           100000000000
1    7974907369840705536
2   -4182185861443485696
3                      0
4    3783023686991216640
dtype: int64

In [214]:
# Less than
my_series1.le(my_series2)

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [216]:
my_series1 < my_series2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [218]:
# Greater than
my_series1.gt(my_series2)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [220]:
my_series1 > my_series2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [222]:
# Equals to 
my_series1.eq(my_series2)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [224]:
my_series1 == my_series2

0    False
1    False
2    False
3    False
4    False
dtype: bool