<img src="pandas_logo.svg" alt="NumPy Logo" style="width:250px; height:100px;">
<h1>Import and Export DataFrames</h1>

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
# Importing excel file
df = pd.read_excel("data.xlsx")
df.head()

   Duration  Pulse  Maxpulse  Calories  Total
0        60    110       130     409.1  649.1
1        60    117       145     479.0  741.0
2        60    103       135     340.0  578.0
3        45    109       175     282.4  566.4
4        45    117       148     406.0  671.0

In [14]:
# Checking the maximum rows allowed to display in our system
pd.options.display.max_rows

60

In [16]:
# Setting the maximum rows to display
pd.options.display.max_rows=9999

In [18]:
pd.options.display.max_rows

9999

In [20]:
# Modifying the DataFrame by adding Total Column
df["Total"] = df["Pulse"] + df["Maxpulse"] + df["Calories"]

In [22]:
# Displaying first 5 rows
df.head()

   Duration  Pulse  Maxpulse  Calories  Total
0        60    110       130     409.1  649.1
1        60    117       145     479.0  741.0
2        60    103       135     340.0  578.0
3        45    109       175     282.4  566.4
4        45    117       148     406.0  671.0

In [24]:
# Exporting the excel file to csv file
df.to_csv("excel_data1.csv")

In [26]:
# Removing index numbers and giving tab space between columns
df.to_csv("excel_data1.csv",index = False, sep = "\t")

In [28]:
# Applies the basic mathematical formulas on every column in the data set
df.describe()

         Duration       Pulse    Maxpulse     Calories        Total
count  169.000000  169.000000  169.000000   164.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244   617.741463
std     42.299949   14.510259   16.450434   266.379919   271.707526
min     15.000000   80.000000  100.000000    50.300000   230.500000
25%     45.000000  100.000000  124.000000   250.925000   491.000000
50%     60.000000  105.000000  131.000000   318.600000   564.850000
75%     60.000000  111.000000  141.000000   387.600000   647.950000
max    300.000000  159.000000  184.000000  1860.400000  2181.400000

In [30]:
# It gives more information about the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
 4   Total     164 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 6.7 KB